/* Proprietà generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
ul{
    list-style-type: none;
}
#vue{
    overflow-x: hidden;
}

/* Proprietà header */
header {
    background-color: grey;
    height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin-right: 20px;
}

/* Proprietà main */
.contentList{
    min-height: calc(100vh - 100px);
    padding: 30px 50px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: black;
    margin-right: -30px;
}

/* Film box */
.filmBox{
    width: 200px;
    margin: 0 30px 20px 0;
    padding: 10px;
}
.filmBox ul{
    background-color: grey;
}

.filmBox .cover{
    width: 100%;
}

.filmBox .flag{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
}
.filmBox .language{
    vertical-align: middle;
}

.filmBox .rating li{
    display: inline-block;
}